.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  min-height: 100vh;
  background: linear-gradient(46deg, #115DA3 0%, #4ECFED 100%);
}

.outline {
  outline: 1px gray dashed;
}

.current-weather {
  color: #65AED5;
  padding-bottom: 30rem;
  background-image: url("skyline.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
  position: relative;
  z-index: 10;
}

.weekly-forecast {
  position: relative;
  z-index: 0;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
}

.ow-icon {
  max-width: 80px;
}

.card-body {
  color: #4A4A4A;
}

.custom-switch .custom-control-label::before {
  border-color: #007bff;
  background-color: #007bff;
}

.custom-switch .custom-control-label::after {
  background-color: #fff;
}

.weekly-forecast .card {
  border-radius: 0;
}

@media (min-width: 768px) {
  .current-weather {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  .weekly-forecast .col:first-child .card {
    border-bottom-left-radius: .25rem;
  }
  .weekly-forecast .col:last-child .card {
    border-bottom-right-radius: .25rem;
  }
}