.App {
  text-align: center;
}

body {
  min-height: 100vh;
  background: linear-gradient(46deg, #115DA3 0%, #4ECFED 100%);
}

.container {
  padding-top: 1rem;
}

.current-weather {
  color: #65AED5;
  padding-bottom: 30rem;
  background-image: url("skyline.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
  position: relative;
  z-index: 10;
}
.current-weather__desc {
  text-align: left;
}
.current-weather__desc p:first-child {
  text-transform: capitalize;
}
.weekly-forecast {
  position: relative;
  z-index: 0;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
}

.ow-icon {
  max-width: 80px;
}

.card-body {
  color: #4A4A4A;
}

.custom-switch .custom-control-label::before {
  border-color: #007bff;
  background-color: #007bff;
}

.custom-switch .custom-control-label::after {
  background-color: #fff;
}

.weekly-forecast .card {
  border-radius: 0;
}
.cloud-img {
  position: absolute;
  /* opacity: 0; */
}
.cloud-img--1 {
  left: 0;
  transform: translate(-50%, 150%);
  animation-name: breeze1;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
.cloud-img--2 {
  right: 0;
  transform: translate(50%, 100%);
  animation-name: breeze2;
  animation-duration: 80s;
  animation-iteration-count: infinite;
}
@keyframes breeze1 {
  0% {
    opacity: 0;
    transform: translate(-50%, 150%);
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  50% {
    transform: translate(700%, 175%);
  }
}
@keyframes breeze2 {
  0% {
    opacity: 0;
    transform: translate(50%, 100%);
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  50% {
    transform: translate(-700%, 130%);
  }
}

@media (min-width: 768px) and (min-height: 960px) {
  .container {
    padding-top: 10%;
  }
}
@media (min-width: 768px) {
  .current-weather {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  .weekly-forecast .col:first-child .card {
    border-bottom-left-radius: .25rem;
  }
  .weekly-forecast .col:last-child .card {
    border-bottom-right-radius: .25rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100% !important;
    max-width: 100% !important;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
  }
  .current-weather {
    padding-bottom: 0;
    min-height: 40vh;
    align-items: flex-start;
  }
  .card-body__icon {
    max-width: 60px;
  }
  .cloud-img {
    max-width: 80px;
  }
}

@media (max-width: 475px) {
  .location {
    text-align: left;
    font-size: .85rem;
  }
  .location > * {
    font-size: inherit;
  }
  .current-weather {
    position: static;
    min-height: 25vh;
  }
  .current-weather__switch {
    position: absolute;
    top: .5rem;
    right: 0;
    color: #fff;
  }
  .current-weather__readings {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(130,234,255,1) 100%);

    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
  }
  .current-weather__icon {
    display: none;
  }
  .current-weather__desc {
    text-align: right;
  }
  .weekly-forecast {
    flex-flow: column nowrap;
    overflow-y: scroll;
    flex: 0 1 auto;
  }
  .weekly-forecast .card-body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .weekly-forecast .card-body__day {
    flex: 1 100%;
  }
  .weekly-forecast .card-body__icon {
    flex: 1 1 0;
    order: 3;
  }
  .weekly-forecast .card-body__temp {
    flex: 0 1 1;
  }
}