.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  min-height: 100vh;
  background: linear-gradient(46deg, #115DA3 0%, #4ECFED 100%);
}

.outline {
  outline: 1px gray dashed;
}

.current-weather {
  color: #65AED5;
  padding-bottom: 30rem;
  /* background-image: url("https://via.placeholder.com/960?text=illustration");
  background-position: center; */
  background-image: url("skyline.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.ow-icon {
  max-width: 80px;
}

.card-body {
  color: #4A4A4A;
}